Checks:          '*,-cppcoreguidelines-owning-memory,-modernize-use-trailing-return-type,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-hicpp-no-array-decay,-bugprone-unhandled-exception-at-new,-bugprone-easily-swappable-parameters,-altera-unroll-loops,-fuchsia-trailing-return,-cppcoreguidelines-avoid-magic-numbers,-fuchsia-default-arguments-calls,-readability-implicit-bool-conversion,-altera-id-dependent-backward-branch,-readability-magic-numbers,-readability-function-cognitive-complexity,-llvm-include-order,-llvmlibc-*,-cppcoreguidelines-pro-bounds-constant-array-index,-cppcoreguidelines-non-private-member-variables-in-classes'
