* {
    font-family: caskaydiacove nerd font;
    font-size: 12px;
    font-weight: Bold;
    border: none;
}

window#waybar {
    background: rgba(22, 24, 36, 0.6);
}k

#workspaces {
    background: #1f2335;
    margin: 5px 5px;
    padding: 8px 5px;
    border-radius: 20px;
    border: solid 0px #1f2335;
    font-weight: normal;
    font-style: normal;
}

#workspaces button {
    padding: 0px 7px;
    margin: 0px 7px;
    border-radius: 16px;
    color: #737aa2;
    background-color: #737aa2;
    transition: all 0.1s ease-in-out;
}

#workspaces button.active {
    color: #bb9af7;
    background-color: #bb9af7;
    border-radius: 16px;
    background-size: 400% 400%;
    min-width: 35px;
    transition: all 0.1s ease-in-out;
}

#workspaces button:hover {
	background-color: #cdd6f4;
	color: #cdd6f4;
	border-radius: 16px;
    background-size: 400% 400%;
}

#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#cpu,
#memory,
#tray,
#mpd,
#temperature,
#taskbar,
#bluetooth,
#pulseaudio-slider,
#backlight {
    background: rgba(26, 27, 26, 0.4);
    padding: 1px 10px;
    margin: 10px 10px;
    border-radius: 20px;
}

#workspaces {
    background: transparent;
}

#clock {
    color: #fab387;
}

#bluetooth {
    color: #89CFF0;
}

#network {
    color: #f9e2af;
}

#cpu {
    min-width: 70px;
    color: #33e3ff;
}

#memory {
    color: #ff966c;
    min-width: 130px;
}

#pulseaudio{
    color: #9d7cd8;
    min-width: 70px;
}

#backlight {
    color: #33ff6b;
    min-width: 70px;
}

#custom-spotify,
#bluetooth,
#network {
    color: #4affa5;
    background: transparent;
}

#battery {
    color: #a6e3a1;
    min-width: 70px;
}

#network.disconnected,
#battery.discharging,
#cpu.warning,
#temperature.warning,
#memory.warning {
    color: #ff757f;
}

#temperature {
    color: #a6e3a1;
}

#mpd.disconnected,
#nework.disconnected
{
    color: #a9b1d6;
}