configuration{
    lines: 8;
    font: "caskaydiacove nerd font";
    terminal: "alacritty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: " ";

    // display-drun: "   Apps ";
    // display-window: "   window";
    // sidebar-mode: true;
}

@theme "/home/staz/.config/rofi/themes/rounded-nord-dark.rasi"
